name: Build docs and npm publish

on:
  workflow_dispatch:
    inputs:
      force_purge:
        default: false
        description: '強制清除 jsDelivr 快取'
        required: true
        type: boolean
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print all context
        run: |
          echo 'env=${{ toJSON(env) }}'
          echo 'github=${{ toJSON(github) }}'
          echo 'inputs=${{ toJSON(inputs) }}'
          echo 'job=${{ toJSON(job) }}'
          echo 'runner=${{ toJSON(runner) }}'
          echo 'secrets=${{ toJSON(secrets) }}'
          echo 'steps=${{ toJSON(steps) }}'
          echo 'vars=${{ toJSON(vars) }}'
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: 'yarn'
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'
      - name: install, lint, test, build
        run: |
          set -ex
          yarn
          yarn lint
          yarn test:ci
          yarn build
          yarn publish:test
  deploy:
    if: github.ref == 'refs/heads/master'
    needs: test
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    outputs:
      npm-publish-type: ${{ steps.npm-publish.outputs.type }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: 'yarn'
          node-version: lts/*
          registry-url: 'https://registry.npmjs.org'
      - name: install and build
        run: |
          set -ex
          yarn
          yarn test:ci
          yarn build
      - name: Coveralls
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: 發布至 npm
        uses: JS-DevTools/npm-publish@v4
        id: npm-publish
        with:
          access: public
      - name: list jsDelivr urls to purge
        id: purge_urls
        run: |
          set -ex
          echo 'urls<<EOF' >> $GITHUB_OUTPUT
          yarn run -s tsx ./build-utils/jsdelivrList.ts >> $GITHUB_OUTPUT
          echo 'EOF' >> $GITHUB_OUTPUT
      - name: jsDelivr Purge
        if: ${{ github.event.inputs.force_purge || steps.npm-publish.outputs.type }}
        uses: egad13/purge-jsdelivr-cache@v1
        with:
          url: |
            https://cdn.jsdelivr.net/npm/@taichunmin/crc/README.md
            https://cdn.jsdelivr.net/npm/@taichunmin/crc@0
            https://cdn.jsdelivr.net/npm/@taichunmin/crc@0/+esm
            https://cdn.jsdelivr.net/npm/@taichunmin/crc
            https://cdn.jsdelivr.net/npm/@taichunmin/crc/+esm
            ${{ steps.purge_urls.outputs.urls }}